<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>

<section class="prompt">
    <h1>Sign in</h1>
    <% if (messages && messages.error) { %>
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error!</strong> <%= messages.error %>
        </div>
    <% } %>
    <form action="/login" method="POST">
        <section>
            <label for="username">Username</label>
            <input type="username" id="username" name="username" placeholder="Enter username" required>
        </section>
        <section>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter Password" required>
        </section>
        <button type="submit">Sign In</button>
        <span class="custom-home-link">
            <a href="/">Home</a>
        </span>
    </form>
</section>
</body>
</html>

